@charset "utf-8";
html {
  font-size: 312.5%;
}
body {
  margin: 0;
  overflow-x: hidden;
}
img {
  max-width: 70%;
}
/* header */
header {
  position: fixed;
  width: 100%;
  background-color: #5fc0cd;
  display: flex;
  height: 1rem;
  top: 0;
  z-index: 1;
}
header .buttons {
  margin: 0 auto;
}
header .leftone {
  font-size: 0.34rem;
  background-color: #55a8b3;
  color: #ffffff;
  border-radius: .1rem;
  width: 22.5%;
  margin-left: 33.90625%;
  padding: .19rem 0;
  display: block;
  border: none;
  margin-bottom: .08rem;
  margin-top: .24rem;
  outline: none;
  line-height: .1rem;
}
header .leftone:hover {
  cursor: pointer;
  color: #5fc0cd;
  background-color: #ffffff;
}
header .leftone:hover + .rightone {
  color: #ffffff;
  background-color: #55a8b3;
}
header .rightone {
  font-size: 0.34rem;
  background-color: #55a8b3;
  color: #ffffff;
  border-radius: .1rem;
  width: 22.5%;
  margin-left: 33.90625%;
  padding: .19rem 0;
  display: block;
  border: none;
  margin-bottom: .08rem;
  margin-top: .24rem;
  outline: none;
  line-height: .1rem;
  margin-right: 0;
  margin-left: -2.81245%;
  background-color: #ffffff;
  color: #5fc0cd;
  margin-right: 33.90625%;
}
header .rightone:hover {
  cursor: pointer;
  color: #5fc0cd;
  background-color: #ffffff;
}
header .map-icon {
  position: absolute;
  top: -0.2rem;
  right: .3rem;
}
header .map-icon .map-img {
  max-width: 70%;
}
/* main */
main {
  margin-top: 1rem;
  font-size: 0.28rem;
  margin-bottom: 1.2rem;
}
main .selecs {
  padding: .25rem 0 .29rem 0;
  display: flex;
  border-bottom: solid 1px #e1e5e7;
}
main .selecs .select {
  width: 33.33333333%;
  font-size: 0.28rem;
  display: block;
  border: none;
  outline: none;
  border-right: solid 1px #e1e5e7;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 0 12%;
  background: url(images/sanjiao_03.png) no-repeat 95%;
}
main .selecs .select:hover {
  cursor: pointer;
}
main .selecs .last-one {
  border: none;
}
main .rows {
  padding-top: .29rem;
  padding-left: .69rem;
  background: url(images/task5-2_07.png) no-repeat 0.3rem 0.25rem, url(images/task5-2_13.png) no-repeat 0.35rem 1.45rem;
  border-bottom: solid 1px #e1e5e7;
}
main .rows .first-text,
main .rows .positions {
  margin-left: 0.39rem;
  color: #999999;
  margin-bottom: 0.24rem;
}
main .rows .times {
  margin-left: 0.39rem;
  margin-bottom: 0.24rem;
}
main .rows .times .data {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 50%;
}
main .rows .times .price {
  display: inline-block;
  color: red;
  float: right;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  margin-right: 10%;
}
main .rows .times .price .back_icon {
  position: absolute;
  right: -50%;
  max-width: 30%;
  top: -3px;
}
/* footer */
footer {
  background-color: #f8fafb;
  border-top: solid 1px #e1e5e7;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  line-height: .1rem;
}
footer .headpage {
  font-size: 0.2rem;
  text-decoration: none;
  text-align: center;
  margin-left: 20%;
  margin-top: .2rem;
}
footer .headpage:visited {
  color: #5fc0cd;
}
footer .write {
  text-align: center;
}
footer .mine {
  font-size: 0.2rem;
  text-decoration: none;
  text-align: center;
  margin-left: 20%;
  margin-top: .2rem;
  margin-right: 20%;
  margin-left: 0;
}
footer .mine:visited {
  color: #5fc0cd;
}
footer .mine:visited {
  color: #999999;
}
@media only screen and (max-width: 500px) {
  button.leftone,
  button.rightone {
    font-size: .16rem;
  }
  main .selecs .select {
    padding: 0 9%;
  }
}
@media only screen and (max-width: 320px) {
  main .selecs .select {
    padding: 0 6%;
  }
}
