html {
	font-size: 625%;
}
body {
	margin: 0;
	background: #fafafa;
}
header {
	width: 100%;
	font-size: .14rem;
}
.header-top {

}
li {
	display: inline-block;
}
.contact-way {
	margin: .12rem  0 .12rem 9.7%;
	display: inline-block;
	color: #28b078;
}
.header-icons{
    display: inline-block;
    float: right;
    margin: .07rem 9.7% 0.07rem 0;
    padding-left: 0;
}



/*导航栏部分*/

.mine-nav {
	border: 0;
	border-radius: 0;
	margin: 0;
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
	padding: .4rem .33rem;
}
.navbar-default .navbar-nav>li>a:hover {
	border-bottom: solid .04rem #fff;
	color: #fff;
}
.navbar-default .navbar-nav>li>a:forcus {
	border-bottom: solid .04rem #fff;
	color: #fff;
}


/*mine-nave*/
.mine-nav {
	background-color: #28b078;
	color: #fff;
	width: 100%;
}
.nav:hover {
	color: #fff;
}
.navbar-toggle {
	float: right;
}
.navbar-nav {
	text-align: center;
}
@media (min-width: 768px){
.navbar-nav {
	float: right;
	margin-right: 2%;
}
}
.navbar-nav li:hover {
	color: #fff;
}

.jns-icon {
	position: absolute;
	left: 15.7%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.jns-image {
	max-width: 100%;
}
@media only screen and (max-width: 750px) {
main {
	margin-top:.24rem;
}
.jns-icon {
	left: 20.7%;
}
.jns-image {
	display: none;
}
}
/*nav  end*/



/*main start*/
main {
	font-size: .16rem;
	margin-top: 0.24rem;
}

.homepage-first-row {
	margin-left: 9.7%;
	display: flex;
}
.homepage-partner {
	color: #29b078;
}
.direction {
	border-top: solid 1px #d0d6d9;
	border-bottom: solid 1px #edf1f2;
	padding: .2rem 0;
	margin-top: .32rem;
	font-size: .14rem;
}
ul {
	padding-left: 0;
}

.profession-title {
	color: #999999;
	margin-right: .25rem;
	cursor: pointer;
}
.profession-classing {
    margin-right: .3rem;
    font-weight: bold;
}
.profession-classing:hover {
	color: #fff;
	background-color: #29b078;
	cursor: pointer;
}
.profession-classing-all {
	margin-right: .3rem;
	color: white;
	background-color: #29b078;
	font-weight: bold;
	cursor: pointer;
}
h1 {
	font-size: .17rem;
	font-weight: bold;
	padding-top: .32rem;
	padding-bottom: .31rem;
	margin: 0 0 .47rem 0;
	border-bottom: solid 1px #d0d6d9;

}
@media only screen and (max-width: 768px){
.direction-box {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 0 39%;
}
.profession-classing-all,.profession-title {
	margin: 0.05rem;
}
.profession-classing {
	margin: 0.05rem 0;
}
.needing {
	white-space: nowrap;
}
.numbers-company {
	overflow: hidden;
}
}

/*list*/
.list-box {
	background: #fff;
	box-shadow: 1px 1px 1px #eeeded;
	margin: 1%;
	width: 31.333333%；
}
.row {
	border-bottom: 1px solid #edf1f2;
	font-size: .12rem;
}
@media only screen and (max-width: 768px){
	.list-box {
		width: 80%;
		margin: 0rem 10% .2rem 10%;
	}
}

/*avatar part*/
.avatar {
	width: 32%;
    position: absolute;
    top: 16%;
    left: 0;
    max-width: 120px;
}
@media only screen and (max-width:992px){
	.avatar {
		width: 32%;
		position: absolute;
		top: 40%;
	}
}
@media only screen and (max-width: 768px){
	.avatar {
	width: 32%;
    position: absolute;
    top: 16%;
    left: 0;
    max-width: 120px;
}
@media only screen and (max-width: 320px){
	.avatar {
		top: 40%;
	}
}
}
.avatar-text {
	margin-left: 36%;
}
h2 {
	font-size: .16rem;
	font-weight: bold;
	margin: .05rem 0 .19rem 0;
	padding-top: .3rem;
}
.profession-introduce {
	overflow: hidden;
	margin-bottom: .34rem;
	font-size: .14rem;
}
.prosonal {
	position: relative;
}

/*firt row*/
.list-first-row {
	border-top: 1px solid #edf1f2;
	clear: left;
}
.door,.level-diffcult,.grow-time,.needing {
	padding: .12rem 0 .12rem .11rem;
}
.level-diffcult {
	border-left: 1px solid #edf1f2;
}
.col-xs-6 {
	padding: 0;
}
/*second*/
.second-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.door,.level-diffcult,.grow-time,.needing,.money,.skills {
	color: #a9a9a9;
}
.door{
	background: url(images/yellow-star_03.png) no-repeat .48rem .12rem;
}
.level-diffcult {
	background: url(images/yellow-star_03.png) no-repeat .72rem .12rem,
				url(images/yellow-star_03.png) no-repeat .97rem .12rem;
}
.times {
	padding: .12rem .11rem;
}
.second-row-second-clumn {
	border-left: 1px solid #edf1f2;
}
.years {
	color: #f01400;
}
.numbers-company {
	padding-left: .11rem;
	padding-right: .11rem;
}
/*fourth*/
.age-limit {
	padding-left: .11rem;
	display: inline-block;
	margin-top: .12rem;
	margin-bottom: .12rem;
}
.salary {
	float: right;
	margin-right: .11rem;
	margin-top: .12rem;
	margin-bottom: .12rem;
}
.fourth-last-row {
	border-bottom: none;
}
.times-money {
	border-left: 1px solid #edf1f2;
}
.money {
	text-align: center;
	line-height: 1.2rem;
}
@media only screen and (max-width: 769px){
	.money {
		line-height: .4rem;
	}
	.money-box {
		border-bottom: 1px solid #edf1f2;
	}
}
/*fifth*/
.number-student {
	margin: .12rem .11rem;
	font-weight: bold;
}
/*sixth*/
.skills {
	margin: .12rem .11rem;
}


/*hover box*/
.hover-box {
	background: rgba(61, 61, 61, 0.7);
	position: absolute;
	left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    width: 100%;
    height: 100%;
    font-size: .16rem;
    font-weight: bold;
    display: none;
}
h3 {
	margin-top: 26.65%;
	text-align: center;
	font-size: .16rem;
	margin-bottom: 0;
	font-weight: bold;
}
.hover-text {
	margin: 8.31% 9.66% 18.65% 9.66%;
	line-height: .25rem;
}
.list-box:hover .hover-box {
	display: block;
	cursor: pointer;
}
 
/*--footer--*/
footer {
	color: #fff;
	background: #26a26f;
	clear: left;
}
footer a {
	color: #fff;
}
footer a:hover {
	color: #fff;
	text-decoration: underline;
}
.footer-box {
	padding-top: .39rem;
	margin-top: 0;
}
.footer-top {
	display: flex;
}
.footer-top-box {
	border-bottom: solid 1px #32c086;
}
.footer-top-left {
}
.left-second-row {
	display: flex;
	margin-top: .65rem;
	margin-bottom: .33rem;
	padding-top: .39rem;
}
.right-second-row {
	display: flex;
	margin-top: .44rem;
}
.right-third-row {
	display: flex;
	margin-top: .39rem;
	margin-bottom: .33rem;
}
.footer-top-right {
}
.weichat {
	margin-top: .3rem;
	text-align: left;
}
.best {
	margin-left: .34rem;
}
.table-game {
	margin-left: .34rem;
}
.weichat-box {
	text-align: right;
}
.weichat-title {
	font-size: .16rem;
	margin-bottom: .02rem;
}
.weichat-image {
	border: 8px #fff solid;
}
@media only screen and (max-width: 750px){
.weichat-box {
	text-align: left;
	margin-top: 0;
	margin-bottom: .25rem;
}
}
/*页尾*/
.footer {
	color: #fff;
	font-size: .12rem;
	width: 100%;
	background: #26a26f;
	text-align: center;
}
p {
	margin: 0;
}
@media (min-width: 769px) {
	.col-sm-4 {
	  width: 31.333333%;
	}
}
.biggest-row {
	border-bottom: 0;
}
.last-row {
	margin-bottom: 10%;
}
@media only screen and (max-width: 768px) {
.navbar-nav {
	width: 100%;
	margin-left: .2rem;
}
}
.webs {
	width: 2%;
}